
.keyboard__key {
  height: clamp(20px, 2vw, 60px);
  width: clamp(20px, 2vw, 60px);
  background: var(--cbgl);
  border: none; outline: none;
  border-radius: 4px;
  cursor: pointer;

  font-size: clamp(0.9rem, 0.9vw, 1.2rem);
  padding: clamp(4px, 0.3vw, 8px);
  font-family: u001;

  color: var(--ctext);

  transition: all 0.1s ease;
  &:hover {
    color: var(--csyellow);
    background: var(--cmain);
  }

  &:active {
    scale: 0.9;
  }
}

.keyboard__key.activated {
  transition: all 0.03s ease-out !important;
  color: var(--csyellow);
  background: var(--cmain);
  scale: 0.9;
}

.keyboard__row {
  display: flex;
  flex-direction: row;
  gap: 4px;
}


#keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  min-width: 250px;
  width: 100%; height: 20%;
}

#k_space {
  width: clamp(100px, 9vw, 200px);
}

#k_caps, #k_enter{
  width: clamp(40px, 3vw, 60px);
}