main {
  width: 100vw; height: 95vh;

  min-width: 300px;
  max-width: 1200px;

  display: flex;
  flex-direction: column;

  font-family: u001;
}

header {
  width: 100%; height: 15%;

  display: flex;
  flex-direction: row;

}

#logo {
  width: 20%; height: 70%;
  display: flex;
  flex-direction: row;

  align-self: center;
  user-select: none;

  & #logo-img {
    width: 100%; height: 100%;
  }

  & #logo-img > img {
    height: 100%;
    transform: rotateZ(-5deg);
    transition: all 0.3s ease;

    &:hover {
      transform: rotateZ(-3deg);
      scale: 1.1;
      cursor: pointer;
    }
  }

  & #logo-text {
    position: relative;

    color: var(--cmain);

    font-weight: bold;
    font-size: 4vw;
    
    transform: translate(-2.5vw, 0.5vw);
    filter: drop-shadow(-0.15vw 0.15vw 0 #000);
  }
}

#button-dock {
  width: 50%; height: 25%;

  min-height: 50px;
  max-height: 80px;

  margin-left: 7vw;
  align-self: center;

  background-color: var(--cbgl);
  border-radius: var(--br);

  display: flex;
  flex-direction: row;
  align-items: center;
}

.bd__btn {
  height: 2vw;
  aspect-ratio: 1 / 1;
  margin-left: 0.5vw;

  border: none; outline: none;

  font-family: u001; 
  font-size: clamp(1rem, 0.9vw, 1.5rem);

  background: none;
  cursor: pointer;
  color: var(--ctext);

  transition: all 0.3s ease;
  user-select: none;

  &:hover {
    color: var(--csyellow);
  }
}

.bdb__selected {
  color: var(--cmain);
  font-weight: bold;
}

.separator {
  width: clamp(2px, 0.2vw, 4px); height: 40%;
  background-color: var(--ctext);
  border-radius: var(--br);
  margin: 0.5vw;
  user-select: none;
}