:root {
  --cbg: #453B61;
  --cbgl: #554977;
  --cmain: #F24B4B;
  --ctext: #FEE1C0;

  --csblue: #1385F0;
  --csyellow: #FFBB31;
  --cspink: #ED0F7E;

  --br: clamp(4px, 0.7vw, 12px);

  font-size: 16px;
}

body {
  background: var(--cbg);
}

#app {
  width: 100vw; height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  height: 3vh;
}

@font-face {
  font-family: u001;
  font-weight: normal;
  font-style: normal;
  src: url(../public/fonts/u001/u001-reg.ttf);
}
@font-face {
  font-family: u001;
  font-weight: bold;
  font-style: normal;
  src: url(../public/fonts/u001/u001-bol.ttf);
}
@font-face {
  font-family: u001;
  font-weight: normal;
  font-style: italic;
  src: url(../public/fonts/u001/u001-ita.ttf);
}
@font-face {
  font-family: u001;
  font-weight: bold;
  font-style: italic;
  src: url(../public/fonts/u001/u001-bolita.ttf);
}